:root {
  --doc-height: 100%;
}

.cities {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  overflow-wrap: normal;
  position: absolute;
  top: 85px;
  padding: 0 20px;
  width: calc(100% - 40px);
  gap: 20px;

  .city {
    height: calc(100vh - 85px);
    overflow-y: scroll;
    width: calc((100vw - 140px) / 4.5);
    flex-shrink: 0;

    .cityName {
      font-size: 20px;
      text-transform: capitalize;
    }
    
  }

  .activeCity {
    width: 56vw;
    // flex-shrink: 0;

    .locations {
      width: 56vw;
    }
  }


  .locations {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 100%;
    padding-bottom: 50px;
  }

  .wire {
    position: fixed;
    bottom: 50px;
  }
  .leftWire {
    left: 0;
  }
  .rightWire {
    right: 0;
  }

}

@media (max-width: 768px) {
  .cities {
    top: 50px;
    gap: 15px;
    padding: 0 15px;
    width: calc(100% - 30px);
    .city {
      // height: calc(100vh - 50px);
      height: calc(var(--doc-height) - 50px);
      width: calc((100vw - 120px) / 1.2);
    }
    .activeCity {
      width: calc((100vw - 80px));

      .locations {
        width: calc(100vw - 80px);
      }
    }
  }
}