.cities {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  overflow-wrap: normal;
  position: absolute;
  top: 85px;
  padding: 0 20px;
  width: calc(100% - 40px);
  gap: 20px;

  .city {
    height: calc(100vh - 85px);
    overflow-y: scroll;
    width: calc((100vw - 140px) / 6);
    flex-shrink: 0;

    .cityName {
      font-size: 20px;
      text-transform: capitalize;
    }
    
  }

  .activeCity {
    width: 56vw;
    // flex-shrink: 0;

    .locations {
      width: 56vw;
    }
  }


  .locations {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 100%;
    padding-bottom: 50px;
  }

}