.programSection {
  position: absolute;
  top: 34px;
  width: 100%;
}

.citiesList {
  display: flex;
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
  width: 100%;
  gap: 20px;

  .city {
    &:first-child {
      .cityButton {
        margin-left: 20px;
      }
    }

    width: 100%;
    padding-top: 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    display: flex;
    align-items: flex-end;

    .cityButton {
      text-align: center;
      word-break: break-word;
      text-transform: capitalize;
      
      &:hover {
        font-weight: bold;
      }
    }

    .activeCityButton {
      font-weight: bold;
    }
  }
}

.venuesByMonths {
  top: 70px;
  display: flex;
  gap: 0 20px;

  .month {
    width: 100%;
    
    
    .monthTitle {
      padding-top: 6px;
      font-size: 20px;
      text-transform: capitalize;
      font-weight: normal;
      border-bottom: 1px solid black;
      padding-bottom: 4px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
    }

    .monthVenues {
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: calc(100vh - 115px);
      overflow-y: scroll;
    }

    &:first-child {
      .monthTitle {
        padding-left: 20px;
      }

      .monthVenues {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 978px) {
  .venuesByMonths {
    .month {
      .monthVenues {
        height: calc(100vh - 140px);
      }
    }
  }
}


@media (max-width: 768px) {
  .programSection {
    padding-left: 15px;

      .citiesList {
        flex-wrap: wrap;
        gap: 0 10px;
        font-size: 16px;

        .city {
          width: calc((100vw - 50px) / 3);
          border-top: 0;

          .cityButton {
            text-align: left;
          }

          &:first-child {
            .cityButton {
              margin-left: 0px;
            }
          }
        }
      }
    }

  .venuesByMonths {
    overflow: scroll;
    flex-wrap: nowrap;
    .month {
      width: 85vw;
      flex-shrink: 0;

      .monthTitle {
        font-size: 16px;
      }

      .monthVenues {
        height: calc(100vh - 134px);
      }

      &:first-child {
          .monthTitle {
            padding-left: 0px;
          }
      
          .monthVenues {
            padding-left: 0px;
          }
        }
    }
  }
}

@media (max-width: 400px) {
  .venuesByMonths {
    .month {
      .monthVenues {
        height: calc(100vh - 153px) !important;
      }
    }
  }
}