.participantsSection {
  position: absolute;
  top: 85px;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: calc(100% - 85px); 
  
  .participantsContent {
    display: flex;
    height: 525px;

    .participantsTitle {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
    
    .participantsNames {
      margin-left: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow-x: scroll;
      width: 100%;

      .namesCategory {
        display: flex;
        margin-right: 130px;
        margin-bottom: 50px;
        
        h3 {
          font-size: 17px;
          font-weight: bold;
          margin-right: 25px;
          width: 18px;
        }

        .namesInCategory {
          font-size: 17px;
          width: 300px;
        }
        .namesInCategory a {
          display: block;
        }
      }

      a:hover {
        font-weight: bold;
      }
    }

  }  
}

@media (max-width: 768px) {
  .participantsSection {
    top: 40px;
    height: auto;
    width: calc(100% - 30px);
    padding: 0 15px;

    .participantsContent {
        flex-direction: column;
        height: 100%;
        margin-bottom: 150px;

        .participantsTitle {
          font-size: 15px;
          text-transform: lowercase;
          margin-top: 20px;
          display: none;
        }

        .participantsNames {
          flex-wrap: nowrap;
          margin-left: 0;
          font-size: 20px;
          margin-top: 15px;
          width: calc(100% - 20px);
          
          .namesCategory {
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            h3, .namesInCategory {
            font-size: 20px;
            }
          }
        }
    }
  }
  
}
