.venuePage {
  position: absolute;
  top: 85px;
  padding-bottom: 75px;
  min-height: calc(100vh - 160px);
  width: 100%;

  .headerInfo {
    display: flex;
    padding: 0 20px;
    gap: 20px;
    padding-bottom: 20px;

    .headerSideInfo, .headerMainInfo {
      width: 50%;
    }

    .headerSideInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 16px;

      p {
        white-space: pre-wrap;
      }

    }

    .headerMainInfo {
      font-size: 16px;

      .location {
        font-weight: bold;
        text-transform: capitalize;
      }

      .dates {
        text-transform: capitalize;
      }
      
      .venueTitle {
        font-size: 36px;
        line-height: 34px;
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
  }

  .images {
    position: relative;
    .imageContainer {
      width: 100vw;
      height: 38vw;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      overflow-x: scroll;
      gap: 5px;
      margin-bottom: 25px;

      img {
        height: 100%;
        width: auto;
      }
    }

    p {
      font-size: 11px;
      margin-left: 20px;
    }
  }

  .venueDetails {
    margin-top: 30px;
    display: flex;
    padding: 0 20px;
    gap: 20px;

    .sideDetails, .venueDescription {
      width: 50%;
    }

    .sideDetails {
      display: flex;
      gap: 50px 25px;
      align-self: flex-start;

      .program {
        h2 {
          text-transform: capitalize;
          font-size: 16px;
          margin-bottom: 25px;
        }

        .programList {
          display: flex;
          flex-direction: column;
          gap: 25px;
          max-width: 350px;

          .event {
            white-space: pre-wrap;
            p {
              font-size: 16px;
              margin-bottom: 5px;
            }
            .eventTitle {
              font-size: 16px;
            }
          }
        }
      }

      .participants {
        flex-shrink: 0;
        h2 {
          text-transform: capitalize;
          font-size: 16px;
          margin-bottom: 25px;
        }
        .participantsList {
          list-style: none;
          li {
            line-height: 20px;
          }
          li:hover {
            font-weight: bold;
          }
        }
      }
    }

    .venueDescription {
      white-space: pre-wrap;
    }
  }
}


@media (max-width: 768px) {
  .venuePage {
    top: 50px;
    width: 100%;
    overflow-x: hidden;

    .headerInfo {
        flex-direction: column-reverse;
        padding: 0 15px;
        gap: 15px;
        margin-bottom: 15px;
    
        .headerMainInfo, 
        .headerSideInfo {
          width: 100%;
        }

        .headerMainInfo {
          font-size: 16px;

          .venueTitle {
            font-size: 32px;
            // line-height: 24.5px;
            margin-bottom: 10px;
          }
        }

        .headerSideInfo {
          font-size: 12px;
        }

      }

    .images {
      .imageContainer {
        height: 70vw;
        margin-bottom: 20px;
        justify-content: flex-start;
      }
    }

    .venueDetails {
      flex-direction: column-reverse;
      margin-top: 20px;
      padding: 0 15px;
      gap: 30px;

      .sideDetails,
      .venueDescription {
        width: 100%;
      }

      .sideDetails {
        flex-direction: column-reverse;
        gap: 30px;

        .participants {
          font-size: 16px;

          h2 {
            margin-bottom: 20px;
            font-size: 16px;
          }
        }

        .program {
          h2 {
            margin-bottom: 20px;
            font-size: 16px;
          }
          .programList {
            gap: 30px;
            .event {
              p {
                font-size: 12px;
              }
              .eventTitle {
                font-size: 16px;
              }
            }

          }
        }
      }

      .venueDescription {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  .footer {
    position: absolute;
    margin-left: 15px;
    bottom: 0;
    width: 100%;
  }
}