.venue {
  font-size: 11px;

  .venueTags {
    font-weight: bold;
    list-style: none;
  }

  .venuePlaceAndTime {
    margin-top: 5px;
  }

  .venueTitle {
    font-size: 17px;
    margin-bottom: 8px;
  }
}