.location {
  width: 100%;
  // transition: all 0.5s linear;
}



.expandedLocation {
  width: 56vw;
  display: flex;
  gap: 20px;
  .locationInfo {
    width: 100%;
  }

  .locationSideInfo {
    width: 23vw;
    min-width: 10vw;
    max-width: 250px;
    flex-shrink: 0;
    .locationVenues {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
.locationName {
  font-size: 20px;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
  max-width: 170px;
}

.locationHoursTitle {
  font-size: 11px;
  margin-top: 10px;
}

.locationAddress, .locationHours {
  font-size: 11px;
  white-space: pre-wrap;
}



.locationImage {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.locationDescription {
  white-space: pre-wrap;
  margin-top: 25px;
}

